# Python bytecode & cache
__pycache__/
*.py[cod]

# Environment files
.env
*.env

# macOS system files
.DS_Store
data_pipeline/crawl_test/downloaded_images/gg_images/
data_pipeline/crawl_test/downloaded_images/from_youtube/
data_pipeline/crawl_test/videos
data_pipeline/crawl_test/.env
data_pipeline/traindata/data/
.DS_Store 
data_pipeline/traindata/vehicle_labels.csv 
data_pipeline/traindata/vehicle_images_successful.txt
data_pipeline/traindata/dataset_stats.json 
data_pipeline/traindata/train-annotations-bbox.csv 
data_pipeline/traindata/vehicle_images.txt 
data_pipeline/traindata/class-descriptions-boxable.csv
data_pipeline/flow/config/ 
data_pipeline/flow/dags/
data_pipeline/flow/logs/
data_pipeline/flow/plugins/ 
# flow/exportnames.py 

