# Python version: 3.10.16
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
alembic
altair
annotated-types
anyio
apache-airflow
apache-airflow-providers-common-compat
apache-airflow-providers-common-io
apache-airflow-providers-common-sql
apache-airflow-providers-fab
apache-airflow-providers-ftp
apache-airflow-providers-http
apache-airflow-providers-imap
apache-airflow-providers-smtp
apache-airflow-providers-sqlite
apispec
argcomplete
asgiref
asttokens
async-timeout
attrs
babel
beautifulsoup4
blinker
boto3
botocore
cachelib
cachetools
certifi
cffi
chardet
charset-normalizer
click
clickclick
cloudpickle
colorama
colorlog
comm
ConfigUpdater
connexion
contourpy
cron-descriptor
croniter
cryptography
cycler
databricks-sdk
debugpy
decorator
Deprecated
dill
dnspython
docker
email_validator
exceptiongroup
executing
fastapi
filelock
Flask
Flask-AppBuilder
Flask-Babel
Flask-Caching
Flask-JWT-Extended
Flask-Limiter
Flask-Login
Flask-Session
Flask-SQLAlchemy
Flask-WTF
fonttools
frozenlist
fsspec
gdown
gitdb
GitPython
google-auth
google-re2
google_search_results
googleapis-common-protos
graphene
graphql-core
graphql-relay
greenlet
grpcio
gunicorn
h11
httpcore
httpx
idna
importlib_metadata
inflection
ipykernel
ipython
itsdangerous
jedi
Jinja2
jmespath
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
lazy-object-proxy
limits
linkify-it-py
lockfile
Mako
Markdown
markdown-it-py
MarkupSafe
marshmallow
marshmallow-oneofschema
marshmallow-sqlalchemy
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
methodtools
mlflow
mlflow-skinny
more-itertools
mpmath
multidict
narwhals
nest-asyncio
networkx
numpy
# nvidia-cublas-cu12
# nvidia-cuda-cupti-cu12
# nvidia-cuda-nvrtc-cu12
# nvidia-cuda-runtime-cu12
# nvidia-cudnn-cu12
# nvidia-cufft-cu12
# nvidia-curand-cu12
# nvidia-cusolver-cu12
# nvidia-cusparse-cu12
# nvidia-cusparselt-cu12
# nvidia-nccl-cu12
# nvidia-nvjitlink-cu12
# nvidia-nvtx-cu12
opencv-python
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
ordered-set
outcome
packaging
pandas
parso
pathspec
pendulum
pexpect
pillow
pip
platformdirs
pluggy
prison
prompt_toolkit
propcache
protobuf
psutil
psycopg
psycopg2-binary
ptyprocess
pure_eval
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyJWT
pyparsing
PySocks
python-daemon
python-dateutil
python-dotenv
python-nvd3
python-slugify
pytz
PyYAML
pyzmq
referencing
requests
requests-toolbelt
rfc3339-validator
rich
rich-argparse
rpds-py
rsa
s3transfer
scikit-learn
scipy
seaborn
selenium
serpapi
setproctitle
setuptools
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
SQLAlchemy-JSONField
SQLAlchemy-Utils
sqlparse
stack-data
starlette
streamlit
sympy
tabulate
tenacity
termcolor
text-unidecode
threadpoolctl
time-machine
toml
torch
torchvision
tornado
tqdm
traitlets
trio
trio-websocket
triton
typing_extensions
tzdata
uc-micro-py
ultralytics
ultralytics-thop
universal_pathlib
urllib3
uvicorn
watchdog
wcwidth
webdriver-manager
websocket-client
Werkzeug
wheel
wirerope
wrapt
wsproto
WTForms
yarl
yt-dlp
zipp
