crawl_test/downloaded_images/gg_images/
crawl_test/downloaded_images/from_youtube/
crawl_test/videos
crawl_test/failed_links.txt
crawl_test/video_urls.txt
crawl_test/res.json
crawl_test/.env
traindata/data/
.DS_Store 
traindata/car_labels.csv 
traindata/train-annotations-bbox.csv 
traindata/car_images.txt 
traindata/class-descriptions-boxable.csv

